body {
    background-color: rgb(241, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center
    
    
}
ul{
    list-style-position: inside;
}

ol>li{
    list-style-position: inside;
}

img{
    height: 300px;
}

span{

font-weight: bold;

}

#ana-başlık{
    color: rgb(187, 7, 67);
    font-size: 32px;
}

.ikincibaslik{
    color: rgb(0, 95, 190);
}

.ücüncübaslik{
    color:rgba(195, 20, 107, 0.696)
}

#özel {
    text-align: left
}

#büyükresim{
    height: 400px;
}